<div class="post-page">
  <div class="posts" id="posts"></div>
  <div class="comments-description">
    <span class="comments-description__span">Комментарии</span>
  </div>
  <div class="comments" id="comments"></div>
  <div class="no-comments" id="no-comments">
    Вы будете первым, кто оставит комментарий
  </div>
</div>
