@import "public/index.scss";

.create-post {
  @include column-flexible;
  border: 1px solid #000000;
  border-radius: 7px;
  margin-bottom: 5px;
}

.create-post-header {
  @include row-flexible;
  box-sizing: border-box;
  height: 60px;
  justify-content: space-between;
}

.news-avatar {
  @include flexible;
  box-sizing: border-box;
  align-self: center;
  border-radius: 50%;
  margin-left: 15px;

  &__img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.news {
  @include row-flexible;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  width: 100%;

  &__input {
    box-sizing: border-box;
    margin-left: 20px;
    min-width: 120px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;

    @include mobile-style {
      display: none;
    }
  }

  &__file-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: inherit;
    margin-right: 10px;
  }

  &__img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__file-input {
    display: none;
  }

  @include mobile-style {
    justify-content: end;
  }
}

.publish-button {
  box-sizing: border-box;
  font-family: $ordinary-text;
  color: white;
  font-family: inherit;
  font-size: inherit;
  background-color: $button-feed;
  border-radius: 0px 7px 0px 0px;
  border-left: 1px solid black;
  transition-duration: 0.1s;

  &:hover {
    background-color: $hovered-publish-button;
  }
}

.news-content {
  @include column-flexible;
  border-top: 1px solid black;
  width: 100%;
  align-items: center;

  &__textarea {
    min-height: 60px;
    margin-top: 10px;
    font-family: $ordinary-text;
    width: 95%;
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: inherit;
  }
}

.news-img-content {
  @include column-flexible;
  min-height: 20px;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  &__img {
    width: 95%;
    margin: 10px 0px;
  }

  &__cancel-img {
    width: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  &-block {
    @include row-flexible;
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
  }
}

.news-file-content {
  @include column-flexible;
  min-height: 20px;
  align-items: start;
  position: relative;
  width: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  &__a {
    @include row-flexible;
    position: relative;
    width: 50px;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px;
  }

  &__name-span {
    position: absolute;
    left: 45px;
    top: 5px;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
  }

  &-block {
    @include row-flexible;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
  }

  &__cancel-img {
    width: 25px;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}

.posts {
  @include column-flexible;
}

.post {
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #f4e3e3;
  border: 1px solid #000000;
  margin: 15px 0px;

  @include mobile-style {
    margin: 5px 0px;
  }
}

.post-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-right: 15px;
}

.post-author {
  @include flexible;
  box-sizing: border-box;
  padding-right: 10px;
  font-family: $ordinary-text;
  font-size: 18px;
  align-items: center;

  &__user-avatar-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 10px;
    object-fit: cover;
  }

  @each $type in edit, trash-basket {
    &__#{$type}-img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__name-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }

  &__name-href {
    @include none-decoration;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;

    @include mobile-style {
      max-width: 170px;
    }
  }

  &__accept-img {
    cursor: pointer;
  }

  &__cancel-img {
    cursor: pointer;
    margin-left: 10px;
  }
}

.post-author-info {
  @include column-flexible;
  justify-content: space-between;

  @include mobile-style {
    @include column-flexible;
    justify-content: space-between;
    padding: 5px 0px;
  }
}

.post-author-time {
  @include row-flexible;

  &__dot-img {
    width: 16px;
    height: 16px;
  }

  @each $type in last-time, created-at {
    &__#{$type}-span {
      color: $button-feed;
      font-size: small;
    }
  }

  @include mobile-style {
    @include column-flexible;

    &__dot-img {
      display: none;
    }
  }
}

.post-menu {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  padding-top: 5px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.post-content {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &__text-span {
    box-sizing: border-box;
    font-family: $ordinary-text;
    background-color: inherit;
    resize: none;
    width: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__img {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0px;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px rgb(145, 143, 143);
  }

  &__show-more-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: rgba(185, 185, 185, 0.7);
    border-radius: 7px;
    padding: 4px 5px;
    color: white;
    text-decoration: underline;
    box-shadow: inset 0 0 2px 2px rgb(185, 185, 185);

    &:hover {
      background-color: rgba(108, 109, 109, 0.8);
    }
  }
}

.post-file-content {
  @include row-flexible;
  justify-content: start;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.post-reaction {
  @include row-flexible;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 50px;
  padding-right: 15px;
}

.comment-reactions {
  @include row-flexible;
  box-sizing: border-box;
  align-items: center;
  justify-content: end;

  @each $type in unliked, liked {
    &__heart-img_#{$type} {
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.reactions {
  @include row-flexible;
  box-sizing: border-box;
  align-items: center;
  width: 100px;
  padding-left: 15px;

  @each $type in unliked, liked {
    &__heart-img_#{$type} {
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.reactions-like {
  box-sizing: border-box;
  padding: 0px;
  width: 30px;
  background-color: inherit;
}

.show-comments {
  background-color: inherit;
}

.show-comments-label__span {
  color: $text-input-color;
  font-size: 18px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 5px;
}

.post-image-content {
  @include column-flexible;
  width: 100%;
}

.post-image-block {
  @include row-flexible;
  width: 100%;
  position: relative;
}

.post-file-block {
  position: relative;
}

.post-comment {
  box-sizing: border-box;
  height: 50px;
  font-family: $ordinary-text;
}

.post-give-comment {
  @include flexible;
  box-sizing: border-box;
  height: 60px;
  justify-content: space-between;
  font-family: $ordinary-text;
  font-size: 18px;
  border-top: 1px solid;
}

.post-comment-img {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: invert(30%);
}

.post-footer {
  @include row-flexible;
  box-sizing: border-box;
  flex: 1;

  &__input {
    box-sizing: border-box;
    background-color: inherit;
    flex-grow: 1;
  }
}

.comment-buttons {
  @include flexible;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 20px;

  &__paper-clip-img {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(30%);
    display: none;
  }
}

.show-comments__messenger-img {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: invert(20%);
}

.no-more-posts_hidden {
  visibility: hidden;
  text-align: center;
  margin: 40px auto 80px;
}

.no-more-posts_visible {
  visibility: visible;
  text-align: center;
  margin: 40px auto 80px;

  @include mobile-style {
    margin-top: 10px;
  }
}

.no-posts__span {
  @include no-anything;
}

.comments-description {
  padding-left: 10px;
  color: #858080;
  font-size: 20px;
  margin: 5px 0 20px 0;
}

.no-comments {
  text-align: center;
  font-size: 18px;
  color: #858080;
  display: none;
  margin-bottom: 40px;

  &_visible {
    @include visible;
  }

  &_invisible {
    @include invisible;
  }
}

.comments {
  @include column-reverse-flexible;
  background-color: #f4e3e3;
  border: 1px solid #000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.comment {
  margin: 0 0 15px;

  @include mobile-style {
    margin: 0 0 5px;
  }

  &__likes-count-span {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.likes-count__span {
  margin-left: 5px;
}

.comment-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-right: 15px;
}

.comment-author {
  @include flexible;
  box-sizing: border-box;
  padding-right: 10px;
  font-family: $ordinary-text;
  font-size: 18px;
  align-items: center;
  flex-grow: 1;

  &__user-avatar-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 10px;
    object-fit: cover;
  }

  @each $type in edit, trash-basket {
    &__#{$type}-img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__edit-img {
    margin-right: 10px;
  }

  &__name-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }

  &__name-href {
    @include none-decoration;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;

    @include mobile-style {
      max-width: 170px;
    }
  }

  &__accept-img {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  &__cancel-img {
    cursor: pointer;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
}

.comment-author-info {
  @include column-flexible;
  justify-content: space-between;
  flex-grow: 1;

  @include mobile-style {
    @include column-flexible;
    justify-content: space-between;
    padding: 5px 0px;
  }

  &-header {
    @include row-flexible;
    justify-content: space-between;

    @include mobile-style {
      @include column-flexible;
    }
  }
}

.comment-author-time {
  @include row-flexible;

  &__dot-img {
    width: 16px;
    height: 16px;
  }

  @each $type in last-time, created-at {
    &__#{$type}-span {
      color: $button-feed;
      font-size: small;
    }
  }

  @include mobile-style {
    @include column-flexible;

    &__dot-img {
      display: none;
    }
  }
}

.comment-menu {
  @include column-reverse-flexible;
  box-sizing: border-box;
  padding-top: 5px;
  margin-right: 20px;
  justify-content: space-between;
  min-width: 60px;
}

.comment-redact {
  @include row-reverse-flexible;
}

.comment-content {
  @include row-flexible;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 10px;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &__text-span {
    box-sizing: border-box;
    font-family: $ordinary-text;
    background-color: inherit;
    resize: none;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    color: #7c6d6d;
    font-size: 14px;
    max-height: 70px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__img {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0px;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px rgb(145, 143, 143);
  }

  &__show-more-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: rgba(185, 185, 185, 0.7);
    border-radius: 7px;
    padding: 4px 5px;
    color: white;
    text-decoration: underline;
    box-shadow: inset 0 0 2px 2px rgb(185, 185, 185);

    &:hover {
      background-color: rgba(108, 109, 109, 0.8);
    }
  }
}

.comment-reaction {
  @include row-flexible;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 50px;
  padding-right: 15px;
}

.comment-info {
  @include column-flexible;
}

.post-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-top: 5px;
  max-width: 650px;
  width: 100%;

  &_invisible {
    @include invisible;
  }

  &_visible {
    @include visible;
  }
}

.go-to-feed {
  @include row-flexible;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin: 10px 0;

  &__img {
    width: 20px;
    cursor: pointer;
  }

  &__span {
    color: #5d5151;
    cursor: pointer;
  }
}
