<div class="dialogs">
  <div class="search-place">
    <div class="search-dialog">
      <img
        class="search-dialog__magnifier-img"
        src="../static/images/magnifying-glass.png"
      />
      <input class="search-dialog__input" type="text" placeholder="Поиск" />
    </div>
    <div class="search-buttons">
      <img class="search-buttons__menu-img" src="../static/images/menu.png" />
    </div>
  </div>
  {{#each chats}}
  <div class="dialog" id="dialog-id">
    <div class="chatter">
      <a href="/profile"><img class="chatter__avatar-img" /></a>
      <div class="chatter-info">
        <span class="chatter-info__name-span"></span>
        <div class="chatter-content">
          <span class="chatter-content__message-span"></span>
          <span class="chatter-content__time-span"></span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
