@import "public/index.scss";
.form-wrapper {
  @include flexible;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: fit-content;
  padding: 0 30px;
}
.form {
  @include column-flexible;
  justify-content: center;
  align-items: center;
}
.login-text {
  color: #000000;
  text-align: center;

  &__first-part {
    font-size: 40px;
    margin-bottom: 10px;
  }

  &__second-part {
    font-size: 44px;
    font-weight: 900;
  }
}

.login-form {
  @include column-flexible;
  margin-top: 13vh;
}

.inscription-form {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.input-group {
  @include column-flexible;
  margin-bottom: 20px;
  justify-content: center;
  color: $text-input-color;
  font-size: 16px;
  position: relative;

  &__input {
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    font-size: 18px;
    border-radius: 12px;
    height: 24px;
  }
}

.image-container-login-signup {
  text-align: center;

  &__img {
    max-height: 154px;
    display: inline-block;
    margin-bottom: 30px;
  }
}

.button-sign-in {
  padding: 10px 20px;
  width: 100%;
  display: block;
  margin: 0px auto 20px;
  background-color: $button-sign-in-bg-color;
  color: $button-sign-in-color;
  border: 1px solid $button-sign-in-border-color;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}

.link-sign-up {
  color: $link-sign-up-color;
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
