@import "public/index.scss";

.message__edit-img,
.message__trash-basket-img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.message__edit-img {
  margin-right: 5px;
}

.conversation {
  @include column-flexible;
  width: 100%;
  background-color: #f4e3e3;
  border: 1px solid black;
  border-radius: 7px;
  min-height: 0;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 5px;
}

@each $block in messages, print-message__text-input {
  .#{$block}::-webkit-scrollbar {
    display: none;
  }
}

.messages {
  @include column-reverse-flexible;
  width: 100%;
  border-top: 1px solid #de8181;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  flex: 1;
  min-height: 350px;

  &__start-dialog-span {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  &__start-dialog-span {
    @include no-anything;
  }
}

.message-file-content {
  @include column-flexible;
  min-height: 20px;
  align-items: start;
  position: relative;
  width: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  &__a {
    @include row-flexible;
    position: relative;
    width: 50px;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px;
  }

  &__name-span {
    position: absolute;
    left: 45px;
    top: 5px;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
  }

  &-block {
    @include row-flexible;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
  }

  &__cancel-img {
    width: 25px;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}

.message {
  max-width: 300px;
  border-radius: 7px;
  border: 1px solid grey;
  background: linear-gradient(-45deg, #f8e4e0, #ffd2c8);
  padding: 5px 5px;

  &-content {
    margin-bottom: 5px;
    overflow-wrap: break-word;

    &-div {
      margin-bottom: 5px;
      @include column-flexible;
    }

    &__img {
      width: 100%;
      border-radius: 7px;
      box-shadow: 0 0 5px 1px #918f8f4f;
    }
  }

  &-attachment__img {
    width: 100%;
    border-radius: 12px;
  }

  &-time-edited {
    @include row-reverse-flexible;
    justify-content: space-between;
    padding-right: 10px;

    @each $typeSpan in edited, time {
      &__span-#{$typeSpan} {
        font-size: 13px;
        color: $button-feed;
        @if $typeSpan == edited {
          margin-left: 10px;
        }
      }
    }
  }
}

.left-message {
  margin-right: auto;
}

.right-message {
  margin-left: 10px;
}

.companion {
  @include row-flexible;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  flex-shrink: 0;

  &-header {
    @include row-flexible;
    align-items: center;
    width: 70%;
  }

  &-info {
    @include column-flexible;
    justify-content: space-between;
    margin-left: 20px;
    height: 55%;
  }

  &__name-span {
    font-size: large;
    font-family: $ordinary-text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;

    @include mobile-style {
      max-width: 150px;
    }
  }

  &__status-span {
    font-size: small;
    color: #928888;
  }

  &__avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.go-back {
  @include row-flexible;

  &__a {
    cursor: auto;
  }

  &__button {
    background-color: inherit;
    color: rgb(143, 143, 143);
    font-size: medium;
    font-weight: lighter;
    margin-top: 15px;
  }
}

.message-ables {
  @include row-reverse-flexible;
  margin-top: 15px;

  &:hover {
    .ables {
      visibility: visible;
    }
  }
}

.ables {
  visibility: hidden;
}

.add-message {
  position: relative;
  border-top: 1px solid #de8181;
  height: 70px;
  background-color: #f8dada;
  border-radius: 0px 0px 7px 7px;
  @include row-flexible;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
}

.print-message {
  @include row-flexible;
  align-items: center;
  width: 90%;
  border: 1px solid #8e8787;
  border-radius: 7px;
  background-color: #fceeeb;
  padding: 1px 10px 1px 5px;

  &__text-input {
    width: 100%;
    margin-right: 10px;
    background-color: inherit;
    border-radius: 7px 0px 0px 7px;
    font-family: $ordinary-text;
    box-sizing: border-box;
    max-height: 60px;
    min-height: 40px;
    overflow: scroll;
    word-break: break-word;
  }
}

.message-menu {
  @include row-flexible;

  &__send-sticker-img {
    width: 20px;
    height: 20px;
  }

  &__send-sticker-button {
    background-color: inherit;
  }

  &__send-img {
    width: 20px;
    height: 20px;
  }

  &__send-button {
    background-color: inherit;
  }

  &__accept-img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.changed-day {
  margin: 20px auto 10px;
  color: gray;
}

.news-chat__file-input {
  display: none;
}

.captured-images {
  @include row-flexible;
  flex-wrap: wrap;
  border-radius: 7px;
  background-color: #f8dada;
  justify-content: space-around;
}

.captured-files {
  @include row-flexible;
  flex-wrap: wrap;
  background-color: #f8dada;
  justify-content: space-around;
}

.news-message-img-content {
  @include column-flexible;
  min-height: 20px;
  align-items: center;
  position: relative;
  width: 70px;
  padding: 0 10px 10px;
  box-sizing: border-box;

  &__img {
    width: 100%;
    border-radius: 7px;
  }

  &__cancel-img {
    width: 22px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  &-block {
    @include row-flexible;
    width: 70px;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
  }
}

.news-message-file-content {
  @include column-flexible;
  min-height: 20px;
  align-items: start;
  position: relative;
  width: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  &__a {
    @include row-flexible;
    position: relative;
    width: 50px;
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px;
  }

  &__name-span {
    position: absolute;
    left: 45px;
    top: 5px;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
  }

  &-block {
    @include row-flexible;
    border-radius: 7px;
    box-sizing: border-box;
    position: relative;
  }

  &__cancel-img {
    width: 25px;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}
