@import "public/index.scss";

.confirm-window {
  position: fixed;
  @include row-flexible;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.confirm {
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
  background-color: #fff1f1;
}

.blured {
  filter: blur(1px);
}

.confirm-header {
  height: 50px;
  font-size: 22px;
}

.confirm-content {
  height: 50px;
  font-size: 18px;
}

.confirm-ables {
  @include row-flexible;
  justify-content: space-around;

  &__button-ok {
    background-color: inherit;
    border-radius: 15px;
    padding: 7px 10px;

    &:hover {
      background-color: #d59f9f;
    }
  }

  &__button-cancel {
    border-radius: 15px;
    padding: 7px 15px;
    background: #dfafaf;
    color: white;

    &:hover {
      filter: brightness(110%);
    }
  }
}
