<div class="confirm-header">
  {{ this.title }}
</div>
<div class="confirm-content">
  {{ this.brief }}
</div>
<div class="confirm-ables">
  <button class="confirm-ables__button-ok" id="confirm-button-ok">
    {{ this.ok }}
  </button>
  <button class="confirm-ables__button-cancel" id="confirm-button-cancel">
    {{ this.cancel }}
  </button>
</div>
