@import "public/index.scss";

.register-form {
  @include column-flexible;
  justify-content: center;
}

.sign-up-upload-img {
  width: 20px;
  margin-left: 15px;
}

.vertical-stack {
  @include column-flexible;
}

.form-label {
  font-size: larger;
  color: $text-input-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.date-birthday {
  @include row-flexible;
  align-items: center;
  justify-content: space-between;

  &__input {
    width: 60px;
    height: 22px;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 16px;
    background-color: $input-color;
  }
}

.input-avatar {
  position: relative;
  display: inline-block;
  transition-duration: $tramsform-duration;
  min-height: fit-content;
  width: 100%;

  &__span {
    padding: 10px 20px;
    display: block;
    background-color: $background-input-color;
    color: #000;
    border: 1px solid #000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 364px;
    transition-duration: 0.5s;

    &:hover {
      filter: brightness(105%);
    }
  }

  &__file-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}

.sign-up-form {
  @include column-flexible;
}

.avatar-prewatch {
  @include row-flexible;
  align-items: center;
  margin-top: 20px;
}

.signup-text {
  color: #000000;

  &__first-part {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__second-part {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
  }
}

.signup-input-group {
  @include column-flexible;
  margin-bottom: 20px;
  justify-content: center;
  color: $text-input-color;
  font-size: 16px;
  position: relative;

  &__input {
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    font-size: 18px;
    border-radius: 12px;
    height: 24px;
  }
}
