<div class="admin-main">
  <span class="admin-main__discription-span">Добавить админа</span>
  <div class="admin-adding">
    <input
      type="text"
      class="admin-adding__input"
      id="admin-adding__input"
      placeholder="Введите ID юзера"
    />
    <button
      type="button"
      class="admin-adding__button"
      id="admin-adding__button"
    >
      Добавить
    </button>
  </div>
  <div
    class="admin-main__incorrect-input form__input_error form__input_correct"
    id="incorrect-admin-adding"
  >
    Некорректный ID юзера
  </div>
  <div class="admin-list" id="admin-list"></div>
</div>
