<div class="search-place">
  <div class="search-group">
    <div class="search-input">
      <img
        class="search-group__magnifier-img"
        src="dist/images/magnifying-glass.webp"
      />
      <input
        class="search-group__input"
        id="search-group__input"
        type="text"
        placeholder="Найти группу"
        autocomplete="off"
      />
    </div>
    <button
      type="button"
      class="search-group__button"
      id="search-group__button"
    >
      Найти
    </button>
  </div>
</div>
<div class="create-group">
  <a href="/group/create"
    ><button class="create-group__button">Создать свою группу</button></a
  >
</div>
<div class="groups" id="groups"></div>
<div class="no-groups">
  <span class="invisible no-groups__span" id="no-something"></span>
</div>
