<div class="header">
  <div class="left-side">
    <img id="logo_img" src="../static/images/white-logo.png" />
    <div class="search">
      <input type="text" placeholder="Поиск" />
    </div>
  </div>
  <div class="user">
    <span id="username" class="username">{{
      fullUserName
    }}</span>
    <img id="user-avatar" class="user-avatar" src="{{ userAvatar }}" />
    <div class="logout">
      <button id="logout-button">Выйти</button>
    </div>
  </div>
</div>
