:root {
    --main-bg-color: rgba(235, 158, 158, 0.23);
    --input-color: #fceeeb;
    --button-sign-in-bg-color: rgba(254, 201, 201);
    --button-sign-in-color: #a77f7f;
    --button-sign-in-border-color: #de8181;
    --link-sign-up-color: #de8787;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background-color: var(--main-bg-color);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 26px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--input-color);
    border-radius: 30px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 184px;
    max-height: 154px;
    display: inline-block;
    margin-bottom: 96px;
}

.button-sign-in {
    padding: 10px 20px;
    width: 101px;
    display: block;
    margin: 0 auto;
    background-color: var(--button-sign-in-bg-color);
    color: var(--button-sign-in-color);
    border: 1px solid var(--button-sign-in-border-color);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 38px;
    margin-bottom: 30px;
}

button:hover {
    background-color: var(--button-color);
}

.link_sign_up {
    color: var(--link-sign-up-color);
    display: block;
    text-align: center;
    margin-top: 20px;
}
