<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/reset.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Socio - Feed</title>
        <link rel="stylesheet" href="../public/feed.css" />
        <link
            rel="shortcut icon"
            href="../static/images/logo.png"
            type="image/x-icon"
        />
    </head>
    <body>
        <header class="header">
            <div class="left-side">
                <img
                    id="logo_img"
                    src="../static/images/logo.png"
                    style="cursor: pointer"
                />
                <div class="search">
                    <input type="text" placeholder="Поиск" />
                </div>
            </div>
            <div class="user">
                <span class="username" style="cursor: pointer"
                    >Имя пользователя</span
                >
                <img class="user-avatar" src="../static/images/logo.png" />
            </div>
        </header>
        <main class="main-content">
            <div class="sidebar">
                <ul>
                    <li><a href="#">Профиль</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Мессенджер</a></li>
                    <li><a href="#">Друзья</a></li>
                    <li><a href="#">Сообщества</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="#">Стикеры</a></li>
                </ul>
                <ul id="help-sidebar">
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>

            <div class="activity">
                <div class="create-post">
                    <div id="news-avatar">
                        <img
                            id="user-avatar-news"
                            src="../static/images/logo.png"
                        />
                    </div>
                    <div class="news">
                        <input
                            id="user-news"
                            type="text"
                            placeholder="Что нового?"
                        />

                        <button class="include-button">
                            <img
                                src="../static/images/attach-paperclip-symbol.png"
                                style="width: 28px; height: 28px"
                            />
                        </button>
                    </div>
                    <div class="publish">
                        <button class="publish-button">Опубликовать</button>
                    </div>
                </div>

                <div class="post" id="post1">
                    <div class="post-header">
                        <div class="post-author">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <span class="author-name" style="cursor: pointer"
                                >VKPogromisty</span
                            >
                        </div>
                        <div class="post-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-content"></div>
                    <div class="post-reaction">
                        <div class="reactions">
                            <button class="like">
                                <img
                                    src="../static/images/heart.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <button class="show-comments">
                                <img
                                    src="../static/images/messenger.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <span
                                class="show-comments-label"
                                style="cursor: pointer"
                                >Показать комментарии</span
                            >
                        </div>
                        <div class="comment-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-comment">
                        <div class="comment">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <div>
                                <span class="comment-author"
                                    >Катя Кириллова</span
                                >
                                <span class="comment-text"
                                    >Ребята молодцы, очень достойная
                                    Figma!!!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="post-give-comment">
                        <div class="post-footer">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <input
                                type="text"
                                name="user-comment"
                                class="user-comment"
                                placeholder="Оставить комментарий"
                            />
                        </div>
                        <div class="comment-buttons">
                            <button class="include-button">
                                <img
                                    src="../static/images/attach-paperclip-symbol.png"
                                    style="width: 20px; height: 20px"
                                />
                            </button>
                            <button class="send-button">
                                <img
                                    class="post-comment img"
                                    src="../static/images/send.png"
                                    style="width: 24px; height: 24px"
                                />
                            </button>
                        </div>
                    </div>
                </div>

                <div class="post" id="post1">
                    <div class="post-header">
                        <div class="post-author">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <span class="author-name" style="cursor: pointer"
                                >VKPogromisty</span
                            >
                        </div>
                        <div class="post-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-content"></div>
                    <div class="post-reaction">
                        <div class="reactions">
                            <button class="like">
                                <img
                                    src="../static/images/heart.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <button class="show-comments">
                                <img
                                    src="../static/images/messenger.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <span
                                class="show-comments-label"
                                style="cursor: pointer"
                                >Показать комментарии</span
                            >
                        </div>
                        <div class="comment-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-comment">
                        <div class="comment">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <div>
                                <span class="comment-author"
                                    >Катя Кириллова</span
                                >
                                <span class="comment-text"
                                    >Ребята молодцы, очень достойная
                                    Figma!!!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="post-give-comment">
                        <div class="post-footer">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <input
                                type="text"
                                name="user-comment"
                                class="user-comment"
                                placeholder="Оставить комментарий"
                            />
                        </div>
                        <div class="comment-buttons">
                            <button class="include-button">
                                <img
                                    src="../static/images/attach-paperclip-symbol.png"
                                    style="width: 20px; height: 20px"
                                />
                            </button>
                            <button class="send-button">
                                <img
                                    class="post-comment img"
                                    src="../static/images/send.png"
                                    style="width: 24px; height: 24px"
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post" id="post1">
                    <div class="post-header">
                        <div class="post-author">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <span class="author-name" style="cursor: pointer"
                                >VKPogromisty</span
                            >
                        </div>
                        <div class="post-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-content"></div>
                    <div class="post-reaction">
                        <div class="reactions">
                            <button class="like">
                                <img
                                    src="../static/images/heart.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <button class="show-comments">
                                <img
                                    src="../static/images/messenger.png"
                                    style="width: 16px; height: 16px"
                                />
                            </button>
                            <span
                                class="show-comments-label"
                                style="cursor: pointer"
                                >Показать комментарии</span
                            >
                        </div>
                        <div class="comment-menu">
                            <img
                                src="../static/images/more.png"
                                style="
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                "
                            />
                        </div>
                    </div>
                    <div class="post-comment">
                        <div class="comment">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <div>
                                <span class="comment-author"
                                    >Катя Кириллова</span
                                >
                                <span class="comment-text"
                                    >Ребята молодцы, очень достойная
                                    Figma!!!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="post-give-comment">
                        <div class="post-footer">
                            <img
                                class="user-avatar-post"
                                src="../static/images/logo.png"
                            />
                            <input
                                type="text"
                                name="user-comment"
                                class="user-comment"
                                placeholder="Оставить комментарий"
                            />
                        </div>
                        <div class="comment-buttons">
                            <button class="include-button">
                                <img
                                    src="../static/images/attach-paperclip-symbol.png"
                                    style="width: 20px; height: 20px"
                                />
                            </button>
                            <button class="send-button">
                                <img
                                    class="post-comment img"
                                    src="../static/images/send.png"
                                    style="width: 24px; height: 24px"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
