<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/reset.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/sign_up.css"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Socio - Sign up</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="../static/images/logo.png"
            type="image/x-icon"
        />
    </head>
    <body>
        <div id="main" class="main">
        </div>
    </body>
    <script type="module" src="public/sign_up.js"></script>
    <script type"text/javascript" src="handlebars/handlebars.runtime.js"></script>
    <script type"text/javascript" src="public/components/Signup/signup.precompiled.js"></script>
</html>
