@import "public/index.scss";

.feed-main {
  display: flex;
  flex-direction: row;
  margin-right: 450px;
  margin-left: 100px;
}

.sidebar {
  height: 440px;
  margin-right: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-width: 200px;
  font-size: 24;
}

.sidebar-list {
  box-sizing: border-box;
  padding-left: 0px;
  line-height: 40px;
  list-style: none;
}

.sidebar-list__li {
  box-sizing: border-box;
  list-style-type: none;
  margin-left: 0px;
  font-family: $ordinary-text;
  font-size: 18px;
  font-weight: 600;
  ::before {
    box-sizing: border-box;
  }
  ::after {
    box-sizing: border-box;
  }
}

.sidebar-list__a {
  box-sizing: border-box;
  color: $text-input-color;
  text-decoration: none;
  font-size: 15px;
}

.sidebar-list__a {
  font-size: 17px;
  color: #5d5151;
}

.sidebar-list__a:hover {
  font-size: 18px;
  color: $hovered-left-sidebar;
}

.activity {
  box-sizing: border-box;
  width: 650px;
  margin-top: 2%;
}
