<div id="main">
  <div class="landing">
    <div class="main-attract">
      <div class="discription">
        <div class="socio-name">
          <img
            class="socio-name__logo-comp-img"
            src="dist/images/socio-landing.webp"
          />
          <img
            class="socio-name__logo-mobile-img"
            src="dist/images/socio-landing2.webp"
          />
        </div>
        <span class="discription__ables-span">Общайся. Пости. Реагируй.</span>
        <a href="/login" class="discription__login-href">
          <button class="discription__enter-button">Войти</button>
        </a>
        <a href="/signup" class="discription__signup-href">
          <span class="discription__signup-span">
            У вас ещё нет аккаунта? Зарегистрироваться
          </span>
        </a>
      </div>
      <div class="example-page">
        <img src="dist/images/computer.webp" class="example-page__comp-img" />
        <img src="dist/images/phone.webp" class="example-page__mobile-img" />
      </div>
    </div>
  </div>
</div>
