@import "public/index.scss";

.settings {
  border: 1px solid black;
  border-radius: 7px;
  background-color: #f4e3e3;
  width: 650px;
}

.email-setting {
  @include column-flexible;
  width: 100%;
  padding-right: 30%;
  padding-left: 20px;
  height: 100px;
  box-sizing: border-box;
  justify-content: end;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0908d;
}

.setting {
  @include column-flexible;
  width: 100%;
  padding-right: 30%;
  padding-left: 20px;
  height: 80px;
  box-sizing: border-box;
  justify-content: end;
  padding-bottom: 5px;

  &:not(:last-child) {
    border-bottom: 1px solid #e0908d;
  }

  &__span {
    font-weight: 600;
    width: 100px;
    margin-right: 30px;
  }
  
  &__input {
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    font-size: 18px;
    background-color: $input-color;
    border-radius: 12px;
    height: 22px;
  }
}

.setting-info {
  @include row-flexible;
  justify-content: space-between;
  align-items: center;
}

.accept-setting {
  @include row-flexible;
  height: 70px;
  align-items: center;
  justify-content: center;

  &__button {
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 170px;
    height: 35px;
    margin-right: 20px;
  }
}

.cancel-setting__button {
  background-color: inherit;
  color: black;
  border-radius: 7px;
  width: 200px;
  height: 35px;
  font-weight: bold;
  margin-right: 20px;
}

.delete-setting__button {
  background-color: red;
  color: white;
  border-radius: 7px;
  width: 150px;
  height: 35px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
}

.avatar-setting {
  @include row-flexible;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #e0908d;
  padding: 0px 20px;
}

.input-avatar__span {
  padding: 5px 10px;
  display: block;
  background-color: $background-input-color;
  color: #000;
  border: 1px solid #000;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-weight: 500;
}

.input-avatar-setting {
  position: relative;
  display: inline-block;
  transition-duration: $tramsform-duration;
  min-height: fit-content;
  width: 100%;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}

@mixin avatar-prewatch {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.setting-avatar-prewatch {
  @include avatar-prewatch;
  margin-left: 30px;
  margin-right: 10px;
}

.signup-avatar-prewatch {
  @include avatar-prewatch;
  margin-left: auto;
  margin-right: auto;
}
