<div class="search-place">
  <div class="search-friend">
    <div class="search-input">
      <img
        class="search-friend__magnifier-img"
        src="dist/images/magnifying-glass.webp"
      />
      <input
        class="search-friend__input"
        id="search-friend__input"
        type="text"
        placeholder="Найти друга"
        autocomplete="off"
      />
    </div>
    <button
      type="button"
      class="search-friend__button"
      id="search-friend__button"
    >
      Найти
    </button>
  </div>
</div>
<div class="right-sidebar-friends">
  {{#each rightSidebar}}
  <span>
    <a
      class="right-sidebar__a_common"
      id="{{ this.id }}"
      href="/community{{ this.href }}"
      >{{ this.text }}</a
    >
  </span>
  {{/each}}
</div>
<div class="friends" id="friends"></div>
<div class="no-friends">
  <span class="invisible no-friends__span" id="no-something"></span>
</div>
