.left-side {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header {
  box-sizing: border-box;
  padding: 15px 25px 15px 115px;
  width: 100%;
  display: flex;
  background-color: $feed-header-color;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  box-sizing: border-box;
  background-color: $background-input-color;
  margin-left: 180px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
  height: 30px;
  padding-left: 7px;
  border-color: rgb(143, 135, 135);
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.user {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: $ordinary-text;
  font-size: 26px;
}
.user__username-span {
  color: #fff;
  font-size: large;
  margin-right: 23px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user__avatar-img {
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
}

.left-side__img {
  box-sizing: border-box;
  width: 50px;
  margin-right: 50px;
  max-width: 100%;
  cursor: pointer;
  filter: invert(100%);
}

.user__notification-img {
  width: 30px;
  filter: brightness(2400%);
  margin-right: 20px;
}

.user__logout-button {
  padding: 4px 15px;
  display: block;
  margin: 0 auto;
  background-color: $input-color;
  color: #000;
  border: 1px solid #000;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}
