@import "public/index.scss";

.left-side {
  @include flexible;
  box-sizing: border-box;
  align-items: center;

  &__img {
    box-sizing: border-box;
    width: 50px;
    max-width: 100%;
    cursor: pointer;
    filter: invert(100%);
  }
}

.header {
  @include flexible;
  box-sizing: border-box;
  padding: 15px 40px 15px 50px;
  width: 100%;
  background-color: $feed-header-color;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  box-sizing: border-box;
  background-color: $background-input-color;
  margin-left: 180px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
  height: 30px;
  padding-left: 7px;
  border-color: rgb(143, 135, 135);
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.user {
  @include row-flexible;
  box-sizing: border-box;
  align-items: center;
  font-family: $ordinary-text;
  font-size: 26px;

  &__username-span {
    color: #fff;
    font-size: large;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    @include mobile-style {
      max-width: 0px;
    }
  }

  &__avatar-img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
  }

  &__notification-img {
    width: 30px;
    filter: brightness(2400%);
    margin-right: 10px;
  }

  &__logout-button {
    padding: 4px 15px;
    display: block;
    margin: 0 auto;
    background-color: $input-color;
    color: #000;
    border: 1px solid #000;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
  }
}
